{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <title>Password Reset Sent</title>
        <link rel="stylesheet" href="{% static 'dj4xol/css/theme.css' %}">
        <link rel="stylesheet" href="{% static 'dj4xol/home/css/home.css' %}">
        <link rel="stylesheet" href="{% static 'dj4xol/css/forms.css' %}">
    </head>
    <body class="classic onboarding single-panel-page">
        <div class="title-bar">
            <span class="title">DJ4XOL</span>
            <span class="tagline">Check Your Email</span>
        </div>
        <div class="columns single-column">
            <div class="column">
                <div class="panel no-transition open" data-panel="password-reset-done">
                    <h2><span>Password Reset Sent</span><span class="panel-toggle"></span></h2>
                    <div class="panel-content panel-stack">
                        <section class="panel-scrollable-text">
                            <p>If that email address matches an account, a password reset link has been sent.</p>
                            <div class="form-nav">
                                <button type="button" class="nav-button" onclick="window.location.href='{% url 'login' %}'">&laquo; Back to Login</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {% include 'dj4xol/_site_footer.html' %}
    </body>
</html>
