{% load static %}
<link rel="manifest" href="{% static 'dj4xol/manifest.webmanifest' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dj4xol/icons/favicon-32.png' %}">
<link rel="apple-touch-icon" href="{% static 'dj4xol/icons/apple-touch-icon.png' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="dj4xol">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="theme-color" content="#111111">
